[Desktop Entry]
Name=ISO Constructor
Name[ca]=ISO Constructor
Name[da]=ISO-Konstruktør
Name[de]=ISO Constructor
Name[es_ES]=ISO Constructor
Name[fr]=ISO Constructor
Name[it]=ISO Constructor
Name[lt]=ISO konstruktorius
Name[nl]=ISO Constructor
Name[pt]=ISO Constructor
Name[sr]=ИСО конструктор
Comment=Tool to build and maintain Debian ISOs
Comment[ca]=Eina per a crear i mantenir ISOs Debian
Comment[da]=Et værktøj til at fremstille og vedligeholde Debian ISO-filer
Comment[de]=Werkzeug zur Erstellung und Pflege von Debian-ISO-Dateien
Comment[es_ES]=Herramienta para construir y mantener ISOs de Debian
Comment[fr]=Outil de construction et de maintenance des ISOs Debian
Comment[it]=Strumento per costruire e mantenere ISO Debian
Comment[lt]=Debian ISO atvaizdžių kūrimo ir priežiūros įrankis
Comment[nl]=Tool om Debian ISO's te bouwen en te onderhouden
Comment[pt]=Ferramenta para construir e manter os ISOs Debian
Comment[sr]=Алат за прављење и одржавање Дебијанових ИСО одраза
Exec=iso-constructor
Icon=iso-constructor
Terminal=false
Type=Application
Categories=Development;
StartupNotify=true
